<?php

namespace Pilulka\Tracy\Elasticsearch;

?>

<div>
    Queries: <?php echo $data['queriesTotal']; ?>,
    time: <?php echo $data['timeTotal']; ?> ms
</div>
<table>
    <tr>
        <th>Time</th>
        <th>Statement</th>
    </tr>
    <?php foreach ($data['queries'] as $i => $query): ?>
    <tr>
        <td>
            <?php echo $query['time']; ?><br>
            <a href="#tracy-addons-EsPanel-<?php echo $i; ?>" class="tracy-toggle">showMore</a>
            <div id="tracy-addons-EsPanel-<?php echo $i; ?>" class="tracy-collapsed">
                Info box with more info
            </div>

        </td>
        <td><?php echo $query['statement']; ?></td>
    </tr>
    <?php endforeach; ?>
</table>
